{% extends 'base.html.twig' %}

{% block title %}OpeningsTijden{% endblock %}

{% block body %}
    <h1>OpeningsTijden</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ openings_tijden.id }}</td>
            </tr>
            <tr>
                <th>Dag</th>
                <td>{{ openings_tijden.Dag }}</td>
            </tr>
            <tr>
                <th>OpenTijd</th>
                <td>{{ openings_tijden.OpenTijd ? openings_tijden.OpenTijd|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DichtTijd</th>
                <td>{{ openings_tijden.DichtTijd ? openings_tijden.DichtTijd|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('openings_tijden_index') }}">back to list</a>

    <a href="{{ path('openings_tijden_edit', {'id': openings_tijden.id}) }}">edit</a>

    {{ include('openings_tijden/_delete_form.html.twig') }}
{% endblock %}
