{% extends 'base.html.twig' %}

{% block title %}Reservatie{% endblock %}

{% block body %}
    <h1>Reservatie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservatie.id }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ reservatie.Datum ? reservatie.Datum|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Tijd</th>
                <td>{{ reservatie.Tijd ? reservatie.Tijd|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Actief</th>
                <td>{{ reservatie.Actief }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservatie_index') }}">back to list</a>

    <a href="{{ path('reservatie_edit', {'id': reservatie.id}) }}">edit</a>

    {{ include('reservatie/_delete_form.html.twig') }}
{% endblock %}
